*{
    margin: 0;
    padding: 0;
}

#contenido{
    padding-top: 20px;
    display: flex;
    justify-content: center;
    background-color: aqua;
}


#total{
    display: flex;
    justify-content: center;
    background-color: aqua;
}

td{
    border: 1px  solid black;
    padding: 10px;
}
th{
    border: 1px  solid black;
    padding: 10px;
    background-color: white;
}

#fila_1{
    background-color: white;
}
#fila_2{
    background-color: gray;
}
